<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Say>
    This is an automated call from Wiretap. This call will be recorded.
  </Say>
  <Dial
    record="record-from-ringing"
    recordingStatusCallback="<%= @callback %>" >
    <%= @call.contact.phone_number %>
  </Dial>
</Response>
