<?xml version="1.0" encoding="UTF-8"?>
<Response>
  <Say>
  We're up all night to get spooky.
  We're up all night to get spoooooooky!
  </Say>
  <Dial record="record-from-ringing"><%= @call.contact.phone_number %></Dial>
</Response>
